.root {
    -fx-background-color: #1a1d2e;
}

.gameFieldStyle {
    -fx-background-color:
        linear-gradient(from 0% 0% to 100% 0%, transparent 90%, rgba(255,255,255,0.10) 90%, rgba(255,255,255,0.10) 100%),
        linear-gradient(from 0% 0% to 0% 100%, transparent 90%, rgba(255,255,255,0.10) 90%, rgba(255,255,255,0.10) 100%),
        #13152a;
    -fx-background-size: 20 20, 20 20, auto;
    -fx-background-radius: 5;
    -fx-border-color: #3a3d55;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.rightBox {
    -fx-background-color: #2a2d45;
    -fx-fill: #2a2d45;
    -fx-stroke: #3a3d55;
    -fx-stroke-width: 1;
    -fx-border-color: #3a3d55;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.headText {
    -fx-font-family: Consolas;
    -fx-text-fill: #00CCCC;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.scoreLabel {
    -fx-font-family: Consolas;
    -fx-text-fill: #FFCC00;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.levelLabel {
    -fx-font-family: Consolas;
    -fx-text-fill: #FF9900;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.linesLabel {
    -fx-font-family: Consolas;
    -fx-text-fill: #FF3333;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.highscoreLabel {
    -fx-font-family: Consolas;
    -fx-text-fill: #FF7700;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
